body {
    background-color: #94a26b;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

#[role="menu"] {
#  display: none;
#}
#[aria-expanded="true"] + [role="menu"] {
#  display: block;
#}